.Frame {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.Card {
    background-color: seagreen;
    border-radius: 16px;
    margin: 8px;
    padding: 8px;
    width: 500px;
    max-width: 50%;
}

.Field {
    font-weight: bold;
    background-color: lightgray;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ValueField {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
}

.IndicatorMandatory {
    font-size: large;
    margin-right: 16px;
    color: red;
    cursor: pointer;
}

.Red {
    color: red;
}

.Grey {
    color: grey;
}

.IndicatorDelete {
    color: black;
    cursor: pointer;
}

.IndicatorInput {
    border-radius: 4px;
    border-width: 0;
    background-color: white;
    outline: none !important;
    width: max-content;
    margin-right: 8px;

}

.IndicatorButton {
    width: 10%;
}

.Button {
    font-weight: bold;
    background-color: lightgray;
    border-radius: 4px;
    margin: 4px;
    padding: 4px;
    cursor: pointer;
}

.ButtonsRow {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
}
